@use '../../../../styles/assets/variables.scss' as *;
@use '../../../../styles/assets/mixins.scss' as *;


.user {

  margin: 0 auto;
  max-width: 430px;

  &__container {
    padding: 1rem;
    background-color: whitesmoke;
    margin: 0 1rem;
  }

  &__grid {
    display: flex;
    align-items: center;
  }

  &__grid_name {
    text-align: center;
    @include card-text;
  }

  &__grid_followers {
    @extend .user__grid_name;
    
  }
}