@use '../../../styles/assets/variables.scss' as *;
@use '../../../styles/assets/mixins.scss' as *;


.user {
  margin: 0 auto;
  max-width: 430px;

  &__container {
    padding: 1.5rem 1rem;
    margin: 0 1rem;
  }

  &__grid {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__grid_name {
    @include card-text;
    color: white
  }

  &__grid_header {
    @include card-text;
    color: #3c5ccf;
    padding-bottom: 0.5rem;
  }

  &__grid_followers {
    @extend .user__grid_name; 
  }

  &__error {
    @extend .user__grid_name;
    text-align: center;
  }
}