@use '../../../../styles/assets/variables.scss' as *;
@use '../../../../styles/assets/mixins.scss' as *;

.search {
  
  padding: 2rem 1rem;

  &__header {
    @include body-text;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__form {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: center;
    gap: 0.5rem;
  }

  &__button {

    Button {
      background-color: $orange;
      padding: 0.5rem 1rem; 
    }
  }
    input {
      background-color: white;  
      border-radius: 3px;
      border-color: transparent;


  }

  &__button_text {
    color: white;

    @include button-text;
  }
}